streamlit
pandas
numpy
faiss-cpu
chromadb==0.5.23
scikit-learn
plotly
langchain==0.2.17
langchain-groq==0.1.9
langchain-community==0.2.17
langchain-core==0.2.38
python-dotenv
sentence-transformers
protobuf==3.20.3
